@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.PublicationsIndex>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "umbLayout.cshtml";
	var publications = CurrentPage.Children().OrderBy("year");
}

<div class="container">
	@{ Html.RenderPartial("breadcrumb"); }
	<div class="page-header">
		<h1>Publications</h1>
	</div>
	<div class="row">
		<div class="col-md-12">
@foreach (var publication in publications) {
		var uploadedFile = publication.GetPropertyValue("downloadableDocument");
		<div class="publication">
			@if (!string.IsNullOrEmpty(uploadedFile)) {
				<h4><a href="@uploadedFile" target="_blank">@publication.GetPropertyValue("title") (@publication.GetPropertyValue("year").Year)</a></h4>
			} else {
				<h4>@publication.GetPropertyValue("title") (@publication.GetPropertyValue("year").Year)</h4>
			}
			<span>@publication.GetPropertyValue("authors") | </span>
			<span>DOI: <a href="http://dx.doi.org/@publication.GetPropertyValue("doi")" target="_blank">@publication.GetPropertyValue("doi")</a></span>
		</div>
}
		</div>
	</div>
</div>

