@inherits UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";
    var pageTitle = string.IsNullOrWhiteSpace(CurrentPage.Title)
        ? CurrentPage.Name
        : CurrentPage.Title;
    var dateTime = CurrentPage.PublishDate == default(DateTime)
        ? CurrentPage.CreateDate
        : CurrentPage.PublishDate;
    var image = Model.Content.GetCropUrl("image", "banner");
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            @{ Html.RenderPartial("breadcrumb"); }
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="page-header">
                <h1>@pageTitle<small class="byline">@CurrentPage.SubHeader</small></h1>
                <h5><span class="glyphicon glyphicon-calendar"></span> @dateTime.ToString("D")</h5>
            </div>
            @if (!string.IsNullOrEmpty(image))
            {<img src="@image" style="margin-bottom:1em;width:100%;padding: 0.5em;border: 1px solid lightgrey;" />}
            @CurrentPage.BodyText
        </div>
        <div class="col-md-4">
            @{ Html.RenderPartial("umbLatestNewsWidget"); }
        </div>
    </div>
</div>